      - name: Sync wp-content to WEDOS (FTPS)
        env:
          FTP_HOST: ${{ secrets.FTP_HOST }}
          FTP_USER: ${{ secrets.FTP_USER }}
          FTP_PASS: ${{ secrets.FTP_PASS }}
          REMOTE_DIR: ${{ secrets.FTP_REMOTE_DIR }}   # /www/domains/privatefitness.eu/wp-content
        run: |
          set -xe
          lftp -e "
            set net:timeout 25;
            set net:max-retries 2;
            set net:reconnect-interval-base 5;
            set ftp:ssl-force true;
            set ftp:ssl-protect-data true;
            set ftp:passive-mode true;
            set ssl:verify-certificate no;

            open -u ${FTP_USER},${FTP_PASS} ${FTP_HOST};
            cd ${REMOTE_DIR};

            # Nahrajeme jen místní 'wp-content' do vzdáleného 'wp-content'
            mirror -R \
              --parallel=3 \
              --only-newer \
              --delete \
              --exclude-glob .git/ \
              --exclude .github/ \
              ./wp-content ./;

            bye
          "
